BasedOnStyle: LLVM

AccessModifierOffset: -4

AlignAfterOpenBracket: true
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: Left
AlignTrailingComments: Leave

AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false

BinPackArguments: true
BinPackParameters: true

BreakBeforeBraces: Attach

ColumnLimit: 0

DerivePointerAlignment: false
PointerAlignment: Left

FixNamespaceComments: false

IncludeBlocks: Preserve
SortIncludes:
  Enabled: false
SortUsingDeclarations: Never

IndentCaseLabels: true
IndentWidth: 4
TabWidth: 4
UseTab: Never

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None

SpaceAfterCStyleCast: false
SpaceBeforeParens: Never
SpacesBeforeTrailingComments: 0
SpacesInCStyleCastParentheses: false
SpacesInSquareBrackets: false
